$primary: #136eb7;
$secondary: #393d40;
$tertiary: #969da5;
$quaternary: #868686;
$white: #ffffff;
$black: #000000;
$grey100: #919eab3d;
$blue100: #d3ebff;
$blue200: #e5f3ff;
$grey200: #fafafa;
$red: #d81e15;
$green: #5cb85c;
$orange: #ffa500;
